#toolbar {
  width: calc(100% - 6px);
  height: 24px;
  padding-top: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

#toolbar-content {
  display: inline;
}

#desktop {
  background: linear-gradient(to right, #000080, #1084d0);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.time-display-container {
  display: inline;
  position: absolute;
  top: 4px;
  right: 5px;
  border: 2px inset;
  vertical-align: baseline;
  padding: 2px;
  background-color: #b8b8b8;
}

#time-display {
  font-size: 10px;
}

.icon {
  width: 80px;
  user-select: none;
  text-align: center;
  outline: none;
}

.icon-title {
  color: white;
  font-size: 11px;
  font-weight: normal;
  margin: 5px;
}

.icon-title-on-white {
  color: black;
  font-size: 11px;
  font-weight: normal;
  margin: 5px;
}

.icon:focus img {
  filter: brightness(0.5) contrast(1.2) sepia(100%) hue-rotate(180deg) saturate(20);
}
.icon:focus .icon-title-on-white {
    background-color: #09f;
    color: white;
    text-overflow: clip !important;
    white-space: break;
}
.icon:focus .icon-title {
    color: #09f;
    text-overflow: clip !important;
    white-space: break;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Pixelated MS Sans Serif";
}

#bootscreen {
  padding: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

.menu-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  user-select: none;
  padding: 2px;
  min-width: 120px;
}

.menu-button:hover {
  background-color: #00A;
  color: white;
}

.window-body {
  min-height: 50px !important;
  min-width: 150px !important;
}

.small-button {
  vertical-align: top;
  min-height: 20px;
  min-width: 32px;
  padding: 0;
}

.title-bar-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}
